.item {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 3.5em;
    border-radius: 10px;
    padding: 7px;
    box-sizing: border-box;
    gap: 1em;
}

.inner {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.icon {
    aspect-ratio: 1;
    border-radius: 100%;
}

.text {
    overflow: hidden;
    text-overflow: ellipsis;
}

.auxText {
    color: #747474;
    font-size: 0.7em;
}