.container {
    background-color: #F4F3F5;
    border-radius: 25px;
    flex-grow: 1;
    padding: 15px;
    display: flex;
    flex-direction: row;
}

.topBarContainer {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.topBarButtonsContainer {
    flex-grow: 1;
}

h1 {
    font-weight: normal;
    font-size: 1.2em;
    margin: 0;
    flex-grow: 1;
}