.mainContainer {
    background-color: #F4F3F5;
    border-radius: 25px;
    width: 60%;
    padding: 15px;
    display: flex;
    flex-direction: row;
}

.topBarContainer {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    border-bottom: 1px solid #D7D7D7;
    height: fit-content;
}

.header {
    font-weight: normal;
    font-size: 1.2em;
    margin: 0;
    flex-grow: 1;
    padding-bottom: 1em;
}

.topBarButtonsContainer {
    flex-grow: 1;
}
