:root {
    --start-page-border-radius: 20px;
    --start-page-stroke-color: #D6D6D6;
    --start-page-bg-color: #B6B6B6;
    --start-page-aside-bg-color: #FFFFFF;
    --start-page-select-option-bg-color: #FFFFFF;
    --start-page-select-option-disabled-color: #A3A3A3;
    --start-page-accent-color: #A230FF;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: var(--start-page-bg-color);
}

button {
    all: unset;
}

button:hover {
    cursor: pointer;
}

.start-page-transition.start-page-transition-leave {
    opacity: 1;
}

.start-page-transition.start-page-transition-leave-active {
    opacity: 0.01;
    transition: opacity 500ms ease-in;
}

.font-rest {
    font-family: "Kumbh Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "YOPQ", 300;
}

.disabled {
    background-color: inherit;
    color: var(--start-page-select-option-disabled-color);
}

.button-generic {
    border-radius: var(--start-page-border-radius);
    background-color: var(--start-page-accent-color);
    color: var(--start-page-select-option-bg-color);
    text-align: center;
    padding-top: 4%;
    padding-bottom: 4%;

    font-family: "Kumbh Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "YOPQ", 300;
}

#root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}