# ----- Database Settings -----
# database username (root recommended for this app)
DB_USERNAME=
# database password (should match chat-db/.env MYSQL_ROOT_PASSWORD entry)
DB_PASSWORD=
# database mysql database host (use `db` when running database container locally)
DB_ADDRESS=
# ----- Mail Server Settings -----
# mail server host (use `email` when running SMTP server container locally)
SMTP_HOST=
# mail server's SMTP port (default: 587)
SMTP_PORT=
# mail server's SMTP username (should match the user created when setting up email account)
SMTP_USER=
# mail server's SMTP password (should match the user created when setting up email account)
SMTP_PASSWORD=
# ----- Binary Storage Settings -----
# binary storage server address (use `fs:9000` when running server container locally)
FS_ENDPOINT=
# binary storage username (should match chat-fs/.env MINIO_ROOT_USER entry)
FS_USER=
# binary storage password (should match chat-fs/.env MINIO_ROOT_PASSWORD entry)
FS_PASSWORD=
# ----- API Security Settings -----
# minimal accepted password length
MIN_PASSWORD_LENGTH=
# number of rounds used when hashing password with bcrypt
PASSWORD_SALT_ROUNDS=
# secret key used when generating JWTs
JWT_SECRET=
# user JWTs expiration time
JWT_EXPIRE_TIME=
# secret key used when creating email verification codes
EMAIL_VERIFICATION_KEY=
# salt used when creating email verification codes
EMAIL_VERIFICATION_SALT=
# email verification codes expiration time
EMAIL_CONFIRM_CODE_MAX_AGE=
# number of rounds used when hashing user verification data with bcrypt
EMAIL_VERIFICATION_TOKEN_SALT_ROUNDS=