.app-page-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
}

.main-content-container {
    margin: 1% 0;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    gap: 0.2em;
}