.page-header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2%;
    width: 60%;
    gap: 25px;

    font-weight: 400;
    line-height: 1;
}

.header {
    display: block;
    font-family: Konkhmer Sleokchher, system-ui;
    font-style: normal;
    font-size: 3em;
}

.subheader {
    display: block;
    font-size: 1.5em;
    color: #A3A3A3;
    text-align: center;
}