.already-member-label, .login-link {
    font-size: 0.8em;
    text-align: center;
}

.already-member-container {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.register-form {
    all: inherit;
}

label[for=tos-checkbox] {
    flex-grow: 1;
    font-size: 0.8em;
    color: var(--start-page-stroke-color);
    margin-top: auto;
    margin-bottom: auto;
}