.text-field-wrapper {
    border-radius: var(--start-page-border-radius);
    border: 1px solid var(--start-page-stroke-color);
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: var(--start-page-border-radius);
}

.show-password-icon {
    height: 1.5em;
    aspect-ratio: 1;
}

.icon {
    height: 15px;
    aspect-ratio: 1 / 1;
    margin: auto;
    margin-left: var(--start-page-border-radius)
}

.separator {
    border: 1px solid var(--start-page-stroke-color);
    height: 25px;
    margin: auto;
}

.input-field-container {
    position: relative;
    flex-grow: 1;
    align-content: center;
}

.input-field {
    border: none;
    font-size: 15px;
    width: 100%;
}

.input-field:focus ~ .placeholder-label,
.input-field:not(:placeholder-shown) ~ .placeholder-label {
    font-size: 10px;
    top: 0;
}

.input-field:focus,
.input-field:not(:placeholder-shown) {
    position: absolute;
    bottom: 0;
    left: 0;
    outline: none;
    bottom: 0;
    font-size: 10px;
}

.placeholder-label {
    position: absolute;
    left: 0;
    pointer-events: none;
    color: var(--start-page-stroke-color);
    font-size: 15px;

    transition: 0.1s ease-out;
}

.validate-icon-wrapper {
    position: relative;
    display: inline-block;
}

.validate-icon {
    display: block;
}

.validate-text {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: #333;
    color: #fff;
    padding: 6px 10px;
    border-radius: 4px;
    font-size: 14px;
    white-space: nowrap;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
}

.validate-icon-wrapper:hover .validate-text {
  opacity: 1;
}