.checkbox-container {
    display: flex;
    flex-direction: row;
    gap: 1%;
}

.checkbox-container input[type=checkbox] {
    flex-grow: 0;
    accent-color: var(--start-page-stroke-color);
}

.checkbox-container input[type=checkbox]:checked {
    accent-color: var(--start-page-accent-color);
}