.errorPopup {
    align-self: center;
    position: absolute;
    top: 2%;
    display: flex;
    flex-direction: column;
    border: 1px solid #D6D6D6;
    border-radius: 25px;
    box-shadow: 0 4px 4px #00000040;
    background-color: #FFFFFF;
    max-width: 20%;
    padding: 15px 45px;
    gap: 20px;
    opacity: 0;
    transform: translateY(-25vh);
    animation: flyIn 0.6s ease-in-out forwards;
}

@keyframes flyIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.closeButton {
    position: absolute;
    top: 15px;
    right: 15px;
    width: fit-content;
}

.errorIcon {
    width: 10%;
    align-self: center;
}

.header {
    align-self: center;
    text-align: center;
    font-weight: 700;
    font-size: 1.5em;
    width: fit-content;
    line-height: 1;
}

.mainText {
    width: fit-content;
    align-self: center;
    color: var(--start-page-stroke-color);
}