.start-page-logo {
    height: 3em;
    min-height: 3em;
    margin-left: 4%;
}

.start-page {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.start-page-background {
    width: 50%;
    height: 100%;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3em;
    width: 60%;
    gap: 1em;
    flex-grow: 1;
}

.page-content-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.start-page-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #FFFFFF;
    align-items: center;
}